<h2>Add a new course</h2>
<%= form_for @course do |f| %>
<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <p>
    <%= f.label :daytime %>
    <%= f.check_box :daytime, {}, "true", "false" %>
        <p>
          <%= f.submit 'Add course!' %>
          <% end %>
