<!DOCTYPE html>
<html>
<head>
  <title>CaseyKellyWeek7</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
  <%= link_to 'Home', users_path %>
  <%= link_to current_user.user_name, user_path(current_user) %>
  <%= link_to 'Sign Out', logout_path %>
  <% else %>
  <%= link_to 'Sign Up', signup_path %>
  <%= link_to 'Sign In', login_path %>
  <% end %>

  <%= yield %>

</body>
</html>
